button{
    font-size: 10px;    
    background-color: rgb(72, 72, 186);
    padding: 16px;
    border-radius: 12%;
    border: 2px solid #555555;
    color: white;    
}

button:hover {
    background-color: white; 
    color: black;
  }

.content{
    text-align: center;
    margin-top: 280px;    
}

